<%= search_form_for(@q, class: 'mb-3') do |f| %>
	<div class="form-group row">
		<%= f.label :name_cont, 'Name Search', class: 'col-sm-2 col-form-label' %>
		<div class="col-sm-4">
			<%= f.search_field :name_cont, class: 'form-control' %>
		</div>
	</div>
	<div class="form-group">
		<%= f.submit 'Search', class: 'btn btn-primary' %>
	</div>
<% end %>
	
<%= render 'users', users: @users %>